# My Goodreads Data Project

### Jessica Hooker
#### April 2023


## Part I: Insert raw data into a MySQL database

This is the initial stage of a exploratory data analysis project examing my Goodreads data. For Part 1, I created a new database in MySQL and inserted raw data from 3  data files I requested from Goodreads.

* The first is a CSV file of the books on my Goodreads shelves
* The second file is a JSON object of the activity posted to my Goodreads feed.
* The third file is a JSON object of all of my book reviews.

In this step of the project, I focused on uploading the relevant raw data with minimal processing and manipulation. The next step of the project will be to pull the raw data from MySQL to be cleaned and processed for eploratory analysis and visualizations.

In [1]:
# import the relevant libraries
import pandas as pd
import json
import mysql.connector as mysql
from mysql.connector import Error

In [2]:
# upload the first file, the 'books' csv file
file = ""
book_data = pd.read_csv(file)

In [3]:
# preview the data
book_data.head(10)

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Spoiler,Private Notes,Read Count,Owned Copies
0,8855321,"Leviathan Wakes (The Expanse, #1)",James S.A. Corey,"Corey, James S.A.",NaN,"=""1841499889""","=""9781841499888""",0,4.29,Orbit,...,NaN,2023/03/19,currently-reading,currently-reading (#8),currently-reading,NaN,NaN,NaN,1,0
1,26856502,"Vengeful (Villains, #2)",V.E. Schwab,"Schwab, V.E.",NaN,"=""""","=""""",0,4.18,Tor,...,NaN,2023/04/18,to-read,to-read (#217),to-read,NaN,NaN,NaN,0,0
2,40874032,"Vicious (Villains, #1)",V.E. Schwab,"Schwab, V.E.",NaN,"=""""","=""""",5,4.23,Tor Books,...,2023/04/18,2022/10/07,NaN,NaN,read,NaN,NaN,NaN,1,0
3,34466963,Why We Sleep: Unlocking the Power of Sleep and...,Matthew Walker,"Walker, Matthew",NaN,"=""""","=""""",0,4.38,Scribner,...,NaN,2023/03/26,to-read,to-read (#216),to-read,NaN,NaN,NaN,0,0
4,15014,Crucial Conversations: Tools for Talking When ...,Kerry Patterson,"Patterson, Kerry","Stephen R. Covey, Joseph Grenny, Ron McMillan,...","=""0071401946""","=""9780071401944""",0,4.06,McGraw-Hill,...,NaN,2022/10/02,currently-reading,currently-reading (#7),currently-reading,NaN,NaN,NaN,1,0
5,37880811,Make Time: How to Focus on What Matters Every Day,Jake Knapp,"Knapp, Jake",John Zeratsky,"=""0525572422""","=""9780525572428""",4,4.09,Currency,...,2023/02/23,2023/02/19,NaN,NaN,read,NaN,NaN,NaN,1,0
6,27213329,Grit: The Power of Passion and Perseverance,Angela Duckworth,"Duckworth, Angela",NaN,"=""1443442313""","=""9781443442312""",5,4.08,Collins,...,2023/02/19,2023/02/06,NaN,NaN,read,NaN,NaN,NaN,1,0
7,23215490,13 Things Mentally Strong People Don't Do: Tak...,Amy Morin,"Morin, Amy",NaN,"=""0062391542""","=""9780062391544""",4,3.91,William Morrow,...,2023/02/06,2022/10/02,NaN,NaN,read,NaN,NaN,NaN,1,0
8,44770129,"Ultralearning: Master Hard Skills, Outsmart th...",Scott Young,"Young, Scott",James Clear,"=""""","=""""",0,3.95,Harper Business,...,NaN,2023/01/31,currently-reading,currently-reading (#6),currently-reading,NaN,NaN,NaN,1,0
9,13525945,So Good They Can't Ignore You: Why Skills Trum...,Cal Newport,"Newport, Cal",NaN,"=""1455509108""","=""9781455509102""",5,4.08,Business Plus,...,2023/01/29,2022/10/29,NaN,NaN,read,NaN,NaN,NaN,1,0

In [4]:
# check the data types
book_data.dtypes

Book Id                         int64
Title                          object
Author                         object
Author l-f                     object
Additional Authors             object
ISBN                           object
ISBN13                         object
My Rating                       int64
Average Rating                float64
Publisher                      object
Binding                        object
Number of Pages                 int64
Year Published                float64
Original Publication Year     float64
Date Read                      object
Date Added                     object
Bookshelves                    object
Bookshelves with positions     object
Exclusive Shelf                object
My Review                     float64
Spoiler                       float64
Private Notes                 float64
Read Count                      int64
Owned Copies                    int64
dtype: object

In [5]:
# view first 12 columns
book_data.iloc[:,0:12].head()

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,Binding,Number of Pages
0,8855321,"Leviathan Wakes (The Expanse, #1)",James S.A. Corey,"Corey, James S.A.",NaN,"=""1841499889""","=""9781841499888""",0,4.29,Orbit,Paperback,592
1,26856502,"Vengeful (Villains, #2)",V.E. Schwab,"Schwab, V.E.",NaN,"=""""","=""""",0,4.18,Tor,Kindle Edition,462
2,40874032,"Vicious (Villains, #1)",V.E. Schwab,"Schwab, V.E.",NaN,"=""""","=""""",5,4.23,Tor Books,Kindle Edition,366
3,34466963,Why We Sleep: Unlocking the Power of Sleep and...,Matthew Walker,"Walker, Matthew",NaN,"=""""","=""""",0,4.38,Scribner,Hardcover,368
4,15014,Crucial Conversations: Tools for Talking When ...,Kerry Patterson,"Patterson, Kerry","Stephen R. Covey, Joseph Grenny, Ron McMillan,...","=""0071401946""","=""9780071401944""",0,4.06,McGraw-Hill,Paperback,240

In [6]:
# view last 12 columns
book_data.iloc[:,12:].head()

,Year Published,Original Publication Year,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Spoiler,Private Notes,Read Count,Owned Copies
0,2011.0,2011.0,NaN,2023/03/19,currently-reading,currently-reading (#8),currently-reading,NaN,NaN,NaN,1,0
1,2018.0,2018.0,NaN,2023/04/18,to-read,to-read (#217),to-read,NaN,NaN,NaN,0,0
2,2013.0,2013.0,2023/04/18,2022/10/07,NaN,NaN,read,NaN,NaN,NaN,1,0
3,2017.0,2017.0,NaN,2023/03/26,to-read,to-read (#216),to-read,NaN,NaN,NaN,0,0
4,2002.0,2002.0,NaN,2022/10/02,currently-reading,currently-reading (#7),currently-reading,NaN,NaN,NaN,1,0

In [7]:
# check the shape
book_data.shape

(449, 24)

In [8]:
# create the database in mysql
try:
    conn = mysql.connect(host='', user = '', password = '')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE goodreads")
        print("The database was created")
except Error as e:
    print("Error while connecting to MySQL", e)

The database was created

In [9]:
# create first table
try:
    conn = mysql.connect(host='', database = 'goodreads', user = '', password = '')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connect to the database:", record)
        cursor.execute('DROP TABLE IF EXISTS books;')
        print('Creating table...')
# create the new table
        cursor.execute('''
            CREATE TABLE books(
                           book_id int primary key not null,
                           title varchar(255),
                           author_full varchar(255),
                           author_last_first varchar(255),
                           addtl_authors varchar(500), 
                           isbn varchar(255),
                           isbn13 varchar(255),
                           my_rating int,
                           avg_rating decimal(3,2),
                           publisher varchar(255),
                           binding varchar(255),
                           num_pages int,
                           year_published int,
                           orig_year_pub int,
                           date_read varchar(255),
                           date_added varchar(255),
                           booshelves varchar(255),
                           bookshelves_pos varchar(255),
                           excl_shelf varchar(255),
                           my_review varchar(255),
                           spoiler varchar(255),
                           priv_notes varchar(255),
                           read_count int,
                           owned_copies int
                           )''')
        print('books table is created')
# insert data into table
        for row in book_data.itertuples():
            cursor.execute(
                '''
                INSERT INTO goodreads.books (
                book_id,
                title,
                author_full,
                author_last_first,
                addtl_authors, 
                isbn,
                isbn13,
                my_rating,
                avg_rating,
                publisher,
                binding,
                num_pages,
                year_published,
                orig_year_pub,
                date_read,
                date_added,
                booshelves,
                bookshelves_pos,
                excl_shelf,
                my_review,
                spoiler,
                priv_notes,
                read_count,
                owned_copies
                )
                VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
                ''', 
                (
                row._1,
                row.Title,
                row.Author,
                row._4,
                row._5,
                row.ISBN,
                row.ISBN13,
                row._8,
                row._9,
                row.Publisher,
                row.Binding,
                row._12,
                row._13,
                row._14,
                row._15,
                row._16,
                row.Bookshelves,
                row._18,
                row._19,
                row._20,
                row.Spoiler,
                row._22,
                row._23,
                row._24
                )                
            )
            print("record inserted")
            conn.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

You're connect to the database: ('goodreads',)
Creating table...
books table is created
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted

In [10]:
# import the second file, activities data
file = ""
activity_json = open(file).read()
activity_data = json.loads(activity_json)

In [11]:
# review the data type
type(activity_data)

list

In [12]:
# review nested data type
type(activity_data[1])

dict

In [13]:
# extract the list of dictionaries for the activities section
for key,value in activity_data[1].items():
    if key == "activities":
        activities_list =value
    else: break

In [14]:
type(activities_list)

list

In [15]:
#preview the data
activities_list[0:2]

[{'activity_type': 'BookStatusReading',
  'activity': '(not provided)',
  'user': 'Jess',
  'is_visible': 'Yes',
  'activity_name': '(not provided)',
  'posted_external_networks': '(not provided)',
  'product': 'The Love Hypothesis',
  'reference_activity': '(not provided)',
  'created_at': '2022-08-01 23:41:17 UTC'},
 {'activity_type': 'BookStatusWantToRead',
  'activity': '(not provided)',
  'user': 'Jess',
  'is_visible': 'Yes',
  'activity_name': '(not provided)',
  'posted_external_networks': '(not provided)',
  'product': 'Ghost Story',
  'reference_activity': '(not provided)',
  'created_at': '2022-08-03 12:59:40 UTC'}]

In [16]:
# create the activities table
try:
    conn = mysql.connect(host='', database = 'goodreads', user = '', password = '')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connect to the database:", record)
        cursor.execute('DROP TABLE IF EXISTS activities;')
        print('Creating table...')
# create the new table
        cursor.execute('''
            CREATE TABLE activities(
                           activity_id int primary key not null,
                           activity_type varchar(255),
                           activity_desc varchar(255),
                           product varchar(255),
                           created_date varchar(255) 
                           )''')
        print('activities table is created')
# parse the json data
    for i, item in enumerate(activities_list):
        activity_id = i
        activity_type = item.get('activity_type')
        activity_desc = item.get('activity')
        product = item.get('product')
        created_date = item.get('created_at')
    # pull the data into the database    
        cursor.execute(
                '''
                INSERT INTO goodreads.activities (
                activity_id,
                activity_type,
                activity_desc,
                product,
                created_date 
                )
                VALUES (%s,%s,%s,%s,%s)
                ''', 
                (
                activity_id,
                activity_type,
                activity_desc,
                product,
                created_date,
              )                
            )
        print("record inserted")
    conn.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

You're connect to the database: ('goodreads',)
Creating table...
activities table is created
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted

In [17]:
# import the reviews data
file = ""
review_json = open(file).read()
review_data = json.loads(review_json)

In [18]:
# check the data type
type(review_data)

list

In [19]:
review_data[0:3]

[{'explanation': ['Your shelving and review of a book.']},
 {'rating': 5,
  'read_status': 'read',
  'review': '(not provided)',
  'started_at': '(not provided)',
  'read_at': '(not provided)',
  'comments_count': 0,
  'last_comment_at': '(not provided)',
  'last_revision_at': '2012-05-28 01:13:38 UTC',
  'created_at': '2012-05-28 01:13:38 UTC',
  'updated_at': '2012-05-28 01:13:38 UTC',
  'user': 'Jess',
  'book': 'Pride and Prejudice',
  'includes_spoilers': 'No',
  'notes': '(not provided)',
  'likes_count': 0},
 {'rating': 4,
  'read_status': 'read',
  'review': '(not provided)',
  'started_at': '2012-08-13 15:26:11 UTC',
  'read_at': '2012-11-25 00:59:57 UTC',
  'comments_count': 0,
  'last_comment_at': '(not provided)',
  'last_revision_at': '2012-11-25 00:59:57 UTC',
  'created_at': '2012-05-28 01:13:59 UTC',
  'updated_at': '2012-11-25 01:00:00 UTC',
  'user': 'Jess',
  'book': 'Sense and Sensibility',
  'includes_spoilers': 'No',
  'notes': '(not provided)',
  'likes_count': 0}]

In [20]:
# check type of data in the list
for x in review_data[0:5]:
    print(type(x))

<class 'dict'>
<class 'dict'>
<class 'dict'>
<class 'dict'>
<class 'dict'>

In [21]:
# create the reviews table
try:
    conn = mysql.connect(host='', database = 'goodreads', user = '', password = '')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connect to the database:", record)
        cursor.execute('DROP TABLE IF EXISTS reviews;')
        print('Creating table...')
# create the new table
        cursor.execute('''
            CREATE TABLE reviews(
                           review_id int primary key not null,
                           rating int,
                           read_status varchar(255),
                           start_at varchar(255),
                           read_at varchar(255),
                           last_revision_at varchar(255),
                           created_at varchar(255),
                           updated_at varchar(255),
                           book varchar(255)
                           )''')
        print('reviews table is created')
# parse the json data
    for i, item in enumerate(review_data):
        review_id = i
        rating = item.get('rating')
        read_status = item.get('read_status')
        start_at = item.get('started_at')
        read_at = item.get('read_at')
        last_revision_at = item.get('last_revision_at')
        created_at = item.get('created_at')
        updated_at = item.get('updated_at')
        book = item.get('book')
    # pull the data into the database    
        cursor.execute(
                '''
                INSERT INTO goodreads.reviews (
                review_id,
                rating,
                read_status,
                start_at,
                read_at,
                last_revision_at,
                created_at,
                updated_at,
                book 
                )
                VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)
                ''', 
                (
                review_id,
                rating,
                read_status,
                start_at,
                read_at,
                last_revision_at,
                created_at,
                updated_at,
                book
              )                
            )
        print("record inserted")
    conn.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

You're connect to the database: ('goodreads',)
Creating table...
reviews table is created
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted
record inserted